<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>bgp8lkNan31WgoCW7chn3XpoT</string>
	<key>consumer_Secret</key>
	<string>RfHbc51kRVvipXddg3RuinYfJ9yMA6wP1OOdgKt9Th4YaGBeAc</string>
</dict>
</plist>
